.app {
    display: flex;
    flex-direction: row;
}

aside {
    min-width: 11rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
    border-right: 2px solid #37373d;
    min-height: 100vh;
    min-height: 100dvh;
}

aside h1 {
    font-weight: 620;
    font-size: 24px;
    margin-bottom: 2rem;
}

nav ul {
    display: flex;
    flex-direction: column;
}

nav ul li a {
    color: white;
}

nav ul li a:hover {
    text-decoration: none;
}

main {
    margin-top: 1.5rem;
    margin-left: 2rem;
}