.DataPanel {
    background-color: #21252f;
    height: 11.3rem;
    align-items: center;
    padding: 1rem;
    border-color: #2f333c;
    border-style: solid;
    border-width: 1px;
    border-radius: 15px;
    margin-left: minmax(0.1rem,0.8rem);
}

.DataPanelTitleRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.DataPanelLineBreak {
    height: 0.1rem;
}

.DataPanelTitleRow p {
    font-size: 16px;
}